{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
    <h2>{{ advert.header }}</h2>
    <div>
        <b>Автор:</b> <b><i>{{ advert.author.username }}</i></b>
    </div>
    <div>
        <b>Категория:</b> {{ advert.category.name }}
    </div>
    <div><b>Текст:</b></div>
    <div>
    {{ advert.text }}
    </div>

    <form action="{% url 'create_reply' advert_pk=advert.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Добавить отзыв">
    </form>
{% endblock content %}