{% extends "base.html" %}

{% block title %}Просмотр отклика{% endblock %}

{% block content %}
    <h1>Объявление</h1>
    <h2>{{ advert.header }}</h2>
    <div>
        <b>Автор:</b> <b><i>{{ advert.author.username }}</i></b>
    </div>
    <div>
        <b>Категория:</b> {{ advert.category.name }}
    </div>
    <div><b>Текст:</b></div>
    <div>
    {{ advert.text }}
    </div>

    <h1>Отклик{% if reply.accepted %}  <span class="badge text-bg-success">Принят</span>{% endif %}</h1>
    <div>
        <b>Автор:</b> <b><i>{{ reply.author.username }}</i></b>
    </div>
    <div><b>Текст:</b></div>
    <div>
    {{ reply.text }}
    </div>

    {% if request.user == reply.advert.author and not reply.accepted %}
        <a href="{% url 'accept_reply' reply.pk %}" class="btn btn-success">Принять отклик</a>
        <a href="{% url 'delete_reply' reply.pk %}" class="btn btn-danger">Удалить отклик</a>
    {% endif %}

{% endblock %}