<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load django_bootstrap5 %}

    {% load static %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Доска объявлений</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url "index" %}">Все объявления</a>
                  </li>
                  {% if not request.user.is_anonymous %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url "list_replies" %}">Отклики</a>
                  </li>
                  {% endif %}
              </ul>
              <form class="d-flex" role="search">
                  {% if request.user.is_anonymous %}
                    <a href="{% url "register_user" %}" class="btn btn-success">Регистрация</a>
                      &nbsp;
                    <a href="{% url "login" %}" class="btn btn-success">Вход</a>
                  {% else %}
                    <a href="{% url "logout" %}" class="btn btn-danger">Выход</a>
                  {% endif %}
              </form>
            </div>
          </div>
        </nav>

    {% block content %}
    {% endblock %}
    </div>
</body>
</html>