{% extends "base.html" %}

{% block content %}
    <h1>Список объявлений</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Категория</th>
                <th>Автор</th>
                <th>Заголовок</th>
                <th>Отзывы</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in adverts %}
            <tr>
                <td>{{ ad.category.name }}</td>
                <td><b>{{ ad.author.username }}</b></td>
                <td>{{ ad.header }}</td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}