{% extends "base.html" %}

{% block content %}
    <h1>Список объявлений</h1>
    <a href="{% url 'create_advert' %}" class="btn btn-primary" role="button">Добавить новое</a>
    <table class="table">
        <thead>
            <tr>
                <th>Категория</th>
                <th>Автор</th>
                <th>Заголовок</th>
                <th>Отклики</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in adverts %}
            <tr>
                <td>{{ ad.category.name }}</td>
                <td><b>{{ ad.author.username }}</b></td>
                <td><a href="{% url 'view_advert' pk=ad.pk %}">{{ ad.header }}</a></td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}