{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
    <h2>{{ advert.header }}</h2>
    <div>
        <b>Автор:</b> <b><i>{{ advert.author.username }}</i></b>
    </div>
    <div>
        <b>Категория:</b> {{ advert.category.name }}
    </div>
    <div><b>Текст:</b></div>
    <div>
    {{ advert.text }}
    </div>

    {% if request.user == advert.author %}
        <a href="{% url 'edit_advert' pk=advert.pk %}" class="btn btn-primary" role="button">Редактировать</a>
    {% endif %}
{% endblock %}